<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://localhost/IssueTracker</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/IssueTracker</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="GetConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=DESKTOP-O7HUROR\SQLEXPRESS;Initial Catalog=SystemTracker;Integrated Security=True;User ID=DESKTOP-O7HUROR\nibsz" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DESKTOP-O7HUROR\SQLEXPRESS;Initial Catalog=SystemTracker;Integrated Security=True;User ID=DESKTOP-O7HUROR\nibsz;Password=" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\GetConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=DESKTOP-O7HUROR\SQLEXPRESS; Integrated Security=true;Database=SystemTracker; uid=DESKTOP-O7HUROR\nibsz; Password=''" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
          <Object Type="DbFullSql">
            <Source Path="..\..\repos\SystemTracker\Grant.sql" Transacted="False" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="GetExcel" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties=Excel 8.0" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\GetExcel_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties=Excel 8.0" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)GetExcel-Web.config Connection String" />
    <MSDeployParameterValue Include="GetConnection-Web.config Connection String">
      <ParameterValue>Data Source=DESKTOP-O7HUROR\SQLEXPRESS;Initial Catalog=SystemTracker;Integrated Security=True;User ID=DESKTOP-O7HUROR\nibsz</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>